*.class

# Package Files #
*.war
*.ear

# IntelliJ Project #
.idea/
*.iml
*.isw

# Maven #
target/
log/

# Tomcat7 #
ROOT/
host-manager/
manager/

# log file #
*.log

# jar file #
jetty-server-8.1.8.jar

# Bower Components #
WebRoot/bower_components