*.class

# Package Files #
*.war
*.ear

# IntelliJ Project #
.idea/
*.iml
*.isw

# Maven
target/**
log/**

# Tomcat7
ROOT/
docs/
host-manager/
manager/


#Hao's local folder
Servers
RemoteSystemsTempFiles
.metadata
WebRoot\WEB-INF\classes
"WebRoot\\WEB-INF\\classes/"